/*colores ejercicio*/

table,
tr,
th,
td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 5px;
}

.ej2 h1 {
    color: blue;
    font-size: xx-large;
}

.ej2 strong {
    color: red;
}
.ej2 h2 {
    color: blue;
}

.ej2 p a {
    color: red;
}


