*{
    margin: 0px;
        padding: 0px;
}


body{
  background-color:green lightgreen; 
    font-family: sans-serif;
}
#container{
    width: 1100 px;
    
    
}
header{
    background:grey;
    height: 100px;
    width: 100px;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: black;
}
nav ul li{
    float:left;
    list-style: none;
    margin: 10px;
        
    
}
.article{
    
}