*{
    margin: 0px;
        padding: 0px;
}


body{
  background-color: green lightgreen; 
    font-family: sans-serif;
}
#container{
    width: 768px;
        
}
header{
    background:blue;
    height: 768px;
    width: 768px;
    margin: 0px;
    text-align: center;
    line-height: 150px;
    color: black;
}
p.box1 {
width:150px;
margin:10px 50px;
padding:20px;
font-size:italic;
background-color:pink;
color:black;
}
p.box2 {
width:150px;
margin:10px 50px;
padding:20px;
font-size:italic;
background-color:grey;
color:black;
}

nav {
    background-color:black;
    height: 50px
    border-bottom: 1px solid black;
}

aside{
    float:left;
    width:20%;
    min-height:500px;
    background:aliceblue;
 }
footer{
    blackground:black;
    color:white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    
    
}
    

