@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        /* Selector universal */
        
        * {
            margin: 0;
            padding: 0;
           
        }
        
        * {
            color: blue;
        }
        
        /*  anula y sustituye lo anterior */
        
        h1, h2, h3, h4, h5, h6 {
            color: black;
            font-family: 'Libre Baskerville', serif;
            
        }
        

        /* formato de textos fonts ........con fuente importadas de google fonts */

        p, em, strong, li, a {
            
            font-family: 'Montserrat', Helvetica, sans-serif;
            color: dimgrey;
            font-size: 16px;
            
        }


        /*  anchura de  letra */

        a {
            font-weight: bold;
            color: steelblue;
            
        }

        /* estilo de la letra */
        em {
            
            font-style: italic;

        }

        
        .todomayusculas {
            
            font-variant: small-caps
            
        }

        .pepe {
            
            
            color: green;

        }

        .alineadoderecha{
            
            text-align: right;
            

        }

        .alineadocentro{
            
            text-align: center;

        }

        .alineadojustificado{
            
            text-align: justify;

        }

        
        /* Prioritys */

        #violeta {
            
            color: darkviolet;

        }  

        
        .rosa {
            color: pink;
        }

        li.rosa {
            
            color: pink;
            }

        article ol li .rosa {

            color: pink
        }


        article ol li {
              
              color: blue;

        }

 
        li {
            
            color: tomato;

        }

        table.azul th,
        table.azul td {
            
            border: 1px solid;
            color: blue;

        }

        table.azul th {
            background-color: blue;
            color: white;
        }


        

    
      
         
        header h1 {     
      /*  Height establece el alto */
            height: 50px;
      /*   Padding es el relleno */
            padding: 8px;
      /*   background color es el color de fondo */
            background-color: gray;
        }
        
        nav {
      /*  Borde liso en color rojo */
            border: 1px solid red;
        }
        
        nav h2 {
            /*  hace que el texto no se visualice, lo oculta */
            display: none;
        }
        
        article {
      /*  width establece el ancho de todos los articulos */
            width: 40%;
      /*  padding establece el relleno de todos los articulos */
            padding: 10px;
      /*  margin establece el margen en las 4 direcciones de todos los articulos */
            margin: 3%;
      /*  propiedad border establece el borde de todos los articulos */
            border: 1px solid black;
              
        }
        
        /* Establece el ancho al 100% para los articulos herederos de un articulo que a su vez es heredero de una sección */
        section article article {
            width: 100%;
    
        }
        
        /*  anula y sustituye la orden anterior de width 40% */
        section article {
            width: 100%;
            /*  anula el margin del 3% indicado antes a izq y drch */
            margin right: 0;
            margin left: 0;
            /* Podemos poner lo mismo así: */
            /* Aplica 3% a arriba y abajo y 0 a derecha e izquierda */
            margin: 3%, 0;
            
            
            
        }
        
        article article p {
            color: lime;
        }
        
        article, article p, article h2 {
           /* Establece el color de fondo para:  */
           /* Todos los articulos */
           /* Todos los parrafos herederos de un articulo */
           /* Todos los h2 herederos de un articulo */
            background-color: white;
        }
        
       
        
        
        footer {
            /* Esto establece el alto del footer en 80px */
            height: 80px;
            /* line-height establece el alto de la linea de texto */
            /* Al ponerle el mismo valor que el height centra el texto en medio de la caja verticalmente */
            line-height: 80px;
            padding: 10px;
            /* Establece alineación del texto al centro */
            text-align: center;
            background-color: black;
            color: white;
        }
        
       
        
        
        