@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

        /*Asteris selector universal*/
        * {
            margin: 0;
            padding: 0;
          }       

        *{
            color:red
                }
        /*Esto anula y sustituye a lo anterior */
        h1,h2,h3,h4,h5,h6,{
            color:black;
                font-family: 'Comfortaa', cursive;
    font-family: 'Roboto', sans-serif;
            
    /*===============*/
    /*formato de textos*/

 p,
em,
strong,
li,
a {
    color: dimgray;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}
    
           
         a {
    font-weight: bold;
    color: steelblue;
}

em {
    font-style: italic;
}

.todomayusculas {
    font-variant: small-caps;
}

.pepe {
    color: green;
}

.alineadoderecha {
    text-align: right;
}

.alineadocentro {
    text-align: center;
}

.alineadojustificado {
    text-align: justify;
}
            /*-----------------------------------------*/
            /*Esto selector de id es la almohadilla# */
           
            
            
 /* En primer lugar va el selector de ID */
#violeta {
    color: darkviolet;
}

/* En segundo lugar van las clases */
.rosa {
    color: pink;
}

/* En tercer lugar van las etiquetas anidadas*/
article ol li {
    color: blue;
}

/* En último lugar irá la etiqueta individual*/
li {
    color: tomato;
}
     /* =======================*/
/* Tabla*/   
table.azul th,
table.azul td {
    border: 1px solid blue;
    color: black;
}
table.azul thead th {
    background-color: blue;
    color: white;
}
/* Fin de la tabla */    
            
        
        header h1 {
            /*  width es el ancho  */
            width: 100%;
            /*la propiedad height establece el alto*/
            height: 50px;
            /*la propiedad padding establece el relleno*/
            padding: 8px;
            /*la propiedad background color establece el color de fondo*/
            background-color: gray
        }

        nav {
            
            /*esto es un border liso en color rojo 1px */
            border: 1px solid red;
        }
        /*Esto establece la visibilidad en la pantalla en ninguna*/
        nav h2 {
                display: none;
            }
        article {
            /*esto establece el ancho de todos los article*/
            width: 40%;
            /*esto establece el relleno de todos los article*/
            padding: 10px;
            /*Equivale a: */
            /*esto establece el margin equivale:3% 3% 3% 3%; */
            /*esto establece el margin equivale:3% 3%; */
            /*esto establece el margin top equivale:3%; */
            /*esto establece el margin botton equivale:3%; */
            /*esto establece el margin right equivale:3%; */
            /*esto establece el margin left equivale:3%; */
            margin: 3%;
            /*esto establece el border de todos los article*/
            border: 1px solid black;
        }
        /*esto establece el ancho 100% todos los articles dos veces*/
        section article article {width: 100%;
        }
        /*esto anula y sustituye al anterior*/
        section article {
            width:100%;
            margin-left: 0;
            margin-right:0;
            /*esto es lo mismo*/
            margin:3% 0;
            
        }
        article article p {
            background-color:lime;
        }
        article,
        article p,
        article h2 {
            /*esto establece el color de fondo en blanco para todos los articles y para los parrafos y herederos de una aritcles y h2s
            todos los articulos están separados por coma*/
            background - color: white;
        }

        
        footer {
            /*esto establece el alto del footer en 80px*/
            height: 80px;
            /*esto establece la linea del footer en 80px*/
            line-height: 80px;
            /*esto establece el alto de la línea de texto en el footer en 80px*/
            padding: 10px;
            /*esto establece el relleno en el footer en 10px*/
            text-align: center;
            /*esto establece alinear en centro el texto*/
            background-color: black;
            /*esto establece el color de fondo del footer en negro*/
            color: white;
            /*esto establece color del footer en blanco*/
        }

    